h1 パスワード再設定

p パスワードを再設定するには、以下のリンクをクリックしてください

= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email)

p このリンクは2時間で期限切れになります。

p パスワードの再設定をリクエストしていない場合は、このメールを無視してください。パスワードはそのままです。